/*
----------------------------------------
Tutorial settings
----------------------------------------
*/

$theme-show-notifications: true;
$theme-font-type-sans: "system";
$theme-font-type-sans: "tahoma";
$theme-font-weight-heavy: 900;
$theme-banner-background-color: "ink";
$theme-banner-link-color: "red-40v";
$theme-banner-max-width: none;
$theme-identifier-max-width: none;

/*
----------------------------------------
Focus styles
----------------------------------------
*/

$theme-focus-color: "blue-40v";
$theme-focus-offset: 0.5;
$theme-focus-style: dotted;
$theme-focus-width: 2px;

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/
$theme-font-weight-semibold: 600;